#mapid{
    height: 400px;
    width: 100%;
    z-index: 0;
    position: absolute;
}
#divMap{
    width: 100%;
    height: 400px;
}
.alert-primary{
    height: 3rem;
}

header{
    margin-bottom: 5rem;
}
#list>div,.list>div{
    margin-bottom: 1rem;
}
#msgFormUser{
    color: red;
}
.layerByTaxo{
    display: none;
}
.fullScreen{
    position: fixed;
    top: 0;
    left: 0;
    padding-right: 20px;
    padding-top: 55px;
    z-index: 2;
    width: 100%;
}
.interne{
    background-color: white;
}
#resize{
    position: relative;
    top:10px;
    z-index: 1;
}
.source{
    color: #666;
    font-size: 12px;
}
#toolBar{
    position: relative;
    top:100px;
    left:10px;
    z-index: 1;
}
#newDraw{
    position: relative;
    top:10px;
    left:100px;
    z-index: 1;
}
#tagsPannel>div{
    margin-bottom: 5px;
}
#tagsPannel>button{
    margin-bottom: 10px;
}
.listExemple{
    display: none;
}