#main, #map {
    height: 100%;
}


#info-box, #freebox1 {
    padding: 5px 10px;
}

#info-box .fa-2x {
    float: left;
    margin-top: 4px;
    margin-right: 9px;
}

#layer-menu-panel{
    background-color: rgba(255, 255, 255, 0.3);
}

#layer-menu {
    padding: 8px;
}

#layer-menu i.fa-info {
    color: #c0c0c0;
    float: right;
}

#layer-menu i {
    margin: 2px 2px 0 0;
}

.glyphicon {
    margin-right: 8px;
}

.fa {
    float:left;
    margin-right: 4px;
}

.color_picker
{
	width: 16px;
	height: 16px;
	float: right;
	border: 1px solid #696969;
}

.list-group-item {
    padding: 8px 10px 8px 5px;
}

.error{
    margin-left: 5px;
    color: red;
}

#deconnexion{
    cursor: pointer;
}

