html, body {
    height: 100%;
}

body{
    background-image: url("../img/background_1024x1.png");
    background-repeat: repeat-x;
}



/* Wrapper for page content to push down footer */
#wrap {
    min-height: 100%;
    height: 100%;
    /* Negative indent footer by its height */
    margin: 0 auto 0px 0;
    /* Pad bottom by footer height */
    padding: 0 0 110px;
}

#wrap > .fill-container {
    padding: 0px 0 0;
    margin:0;
    height: 100%;
}

#header h1 {
    margin-top: 0;
}

#freebox1 {
    background-color: unset;
    border: unset;
}

#footer{
    position: fixed;
    bottom:0;
    height: 24px;
    background-color: #f5f5f5;
}

.container-fluid {
    margin: 0;
}

.list-group-item:hover {
    background-color: #f0f0f0;
}

#permalink {
    margin: 8px;
}
#permalink img {
    height: 16px;
    width: 16px;
    margin: 6px 4px 8px 6px;
}
#permalink input {
    cursor: text;
    width: 100%;
}


