




tr{
    vertical-align: top;
}
#baner{
    padding-top: 110px;
}

#tb1{
    width:610px;
}

#tb2{
    text-align: center;
}

.btn_confirm {
    display: none;
    float: left;
    line-height: 50px;
    margin-left: 20px;
}

form button{
    margin: 0 5px;

}

.control-group .trash{
    float: left;
    line-height: 50px;
    margin-left: 180px;
}

.bar {
    height: 6px;
    background: #2F96B4;
}

#progress-bar {
    margin-bottom: 10px;
}

#footer_info{
    position: fixed;
    bottom:0;
}

.strong{
    font-weight: bold;
}

[class^="icon-"]:before,
[class*=" icon-"]:before {
    cursor: pointer;
}

#userInfo{
    position: fixed;
    top: 10px;
}

#errorLogin{
    position: fixed;
    top: 10px;
}

#waitBadge{
    cursor: none;
}

.navbar ul li a .icon-unlock, .icon-lock{
    color : #cac727;
    font-size: 22px;
}

.navbar ul li a .icon-warning-sign{
    color : #df0300;
    font-size: 22px;
}

i:hover {
    text-decoration: none;
}

a:hover i {
    text-decoration: none;
}


.wait-color {
    color: #c100c1;
}

#edit_badge{
    display: block;
    position: fixed;
    top: 300px;
}

h2 {
    font-size: 20px;
}
