<div class="navbar navbar-inverse">
    <div class="fill-container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar"
                    aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#"><?php echo INSTANCE_NAME; ?></a>
        </div>
        <div id="navbar" class="collapse navbar-collapse">
            <ul class="nav navbar-nav">
                <!--
                <li class="dropdown">
                    <a data-toggle="dropdown" href="#">Couches<b class="caret"></b></a>
                    <ul class="dropdown-menu">
                        <li><a href="#"><span class="glyphicon glyphicon-user"></span> Parc pour chien</a></li>
                        <li><a href="#">Surprises</a></li>
                        <li class="divider"></li>
                        <li><a href="#">Autres à venir...</a></li>
                    </ul>
                </li>
                -->
                <li><a href="#about" data-toggle="modal" data-target="#myModal"><?php echo _('About'); ?></a></li>
                <li><a href="#options" data-toggle="modal" data-target="#myOptions"><?php echo _('Options'); ?></a></li>
                <?=$btnConnect?>
            </ul>
        </div>
       <!--/.nav-collapse -->
    </div>
</div>