<div id="map"></div>
    </div>
    <div class="panel-group col-md-3 .col-xs-12">

        <div id="info-box" class="panel panel-info">
        </div>

        <div id="layer-menu-panel" class="panel panel-default">
            <div class="panel-heading">
                <h4 class="panel-title">
                    <span id="icone" class="glyphicon glyphicon-folder-close"></span> <a data-toggle="collapse"
                                                                                         href="#layer-menu"><?php echo _('Filters and categories'); ?></a>
                    <a href="/?l=none" class="pull-right" title="Effacer la carte" data-toggle="tooltip" data-placement="bottom"><span class="glyphicon glyphicon-trash"></span></a>
                </h4>
            </div>

            <div id="layer-menu" class="collapse in">

                <?php foreach ($content['categories'] as $cat) { ?>
                    <div class="panel panel-info">
                        <div class="panel-heading">
                            <h3 class="panel-title">
                                <span class="glyphicon glyphicon-home"></span> <a href="#item<?php echo $cat['id']; ?>"
                                                                                  data-toggle="collapse"
                                                                                  data-parent="#layer-menu"><?php echo $cat['name']; ?></a>
                            </h3>
                        </div>

                        <div id="item<?php echo $cat['id']; ?>" class="panel-collapse collapse">
                            <div class="panel-body">
                                <ul class="list-group">
                                    <?php foreach ($cat['layers'] as $layerId) { ?>
                                        <li class="list-group-item"><i class="fa fa-fw fa-plus state"></i>
                                            <div style="background-color:#<?php echo $content['layers'][$layerId]['color'] ?>;"
                                                 class="color_picker"></div>
                                            <a href="#" class="text-success mf-layer-toggle"
                                               data-id="<?php echo $layerId; ?>">
                                                <?php echo $content['layers'][$layerId]['name']; ?></a><?php if ($content['layers'][$layerId]['osm_tag'] != "") { ?>
                                                <i class="fa fa-fw fa-info" data-toggle="tooltip"
                                                   data-placement="bottom"
                                                   title="<?php echo $content['layers'][$layerId]['osm_tag']; ?>"></i> <?php } ?>
                                            <span class="badge"></span></li>
                                    <?php } ?>
                                </ul>
                            </div>
                        </div>
                    </div>
                <?php } ?>
                <div id="permalink">
                <a href="#" title="Partagez cette carte" data-toggle="tooltip" data-placement="top"><img src="../img/link_64x64.png" ></a>
                    <span id="permalink-info" class="hide">Partagez cette carte avec ce lien :</span>
                <input class="hide">
                </div>
            </div>
        </div>

        <?php if (!is_null($content['freebox1_content'])) { ?>
            <div id="freebox1" class="panel panel-info">
                <?php echo $content['freebox1_content']; ?>
            </div>
        <?php } ?>
    </div>
</div>
