<?php
/**
 * This file is the template for generate the HTML page.
 * It's used by Page.class.php
 */
global $lang;
global $btnConnect
?>

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN\" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<!--[if lte IE 7]>
<html class="no-js ie67 ie678" lang="fr"> <![endif]-->
<!--[if IE 8]>
<html class="no-js ie8 ie678" lang="fr"> <![endif]-->
<!--[if IE 9]>
<html class="no-js ie9" lang="fr"> <![endif]-->
<!--[if gt IE 9]> <!-->
<html class="no-js" lang="fr"> <!--<![endif]-->
<head>
    <!-- Meta -->
    <meta charset="UTF-8">
    <!--[if IE]>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"><![endif]-->
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta http-equiv="Cache-control" content="no-cache"/>
    <meta http-equiv="Pragma" content="no-cache"/>
    <meta http-equiv="Expires" content="0"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="MapFactory">
    <meta name="author" content="David Réchatin | Openscop">
    <link rel="icon" href="favicon.ico">

    <title><?php echo INSTANCE_NAME; ?></title>

    <!-- Javascript -->
    <!--[if lt IE 9]>
    <script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->

    <script src="./lib/jquery/jquery-1.11.3.js"></script>
    <script src="./lib/jquery/jquery-ui.js"></script>

    <script src="./lib/bootstrap/js/bootstrap.js"></script>
    <script src="./lib/leaflet-0.7.5/leaflet.js"></script>
    <script src="./lib/jquery-slimscroll/jquery.slimscroll.min.js"></script>
    <script src="./js/osmtogeojson.js"></script>
    <script src="./js/function.js"></script>
    <script src="./js/mapfactory.js"></script>
    <script src="./js/connexion.js"></script>
    <?php foreach ($this->jsFile as $file) {
        if (file_exists(PATH_ROOT . '/js/' . $file . '.js')) { ?>
            <script src="./js/<?php echo $file; ?>.js"></script>
            <?php
        } else {
            echo _("Unable to open to ") . PATH_ROOT . '/js/' . $file . '.js';
        }
    } ?>
    <script type="text/javascript">
        SITE_URL = "<?php echo SITE_URL; ?>";
        // var_srv is a JSON which contains all the variables sent by the server.
        // example of use : console.log(var_srv.nameOfVariable)
        <?php echo "var var_srv = " . $this->getJsVariable() . ";";  ?>
        var_srv = JSON.parse(var_srv);
        $(function () {
            $("#cache_option").buttonset();
            console.log($('#cache_option'));
        });

    </script>

    <!-- CSS -->
    <link href="./lib/bootstrap/css/bootstrap.min.css" rel="stylesheet" type="text/css">
    <link href="./lib/font-awesome/css/all.css" rel="stylesheet" type="text/css">
    <link href="./lib/leaflet-0.7.5/leaflet.css" rel="stylesheet"/>
    <link href="./css/mapfactory.css" rel="stylesheet" media="all">


    <?php foreach ($this->cssFile as $file) {
        if (file_exists(PATH_ROOT . '/css/' . $file . '.css')) { ?>
            <link href="./css/<?php echo $file; ?>.css" rel="stylesheet" type="text/css">
        <?php } else {
            echo _("Unable to open to ") . PATH_ROOT . '/css/' . $file . '.css';
        }
    } ?>

    <?php if (!is_null($this->cssCode)) { ?>
        <style type="text/css" media="all">
            <?php echo $this->cssCode; ?>
        </style>
    <?php } ?>


    <link rel="stylesheet" href="./lib/leaflet-marker-cluster/dist/MarkerCluster.css"/>
    <link rel="stylesheet" href="./lib/leaflet-marker-cluster/dist/MarkerCluster.Default.css"/>

    <!-- leaflet marker-cluster  todo to delete-->
    <script src="https://api.tiles.mapbox.com/mapbox.js/plugins/leaflet-markercluster/v0.4.0/leaflet.markercluster.js"></script>
    <!-- leaflet leaflet-svgicon  todo to delete-->
    <script src="https://iatkin.github.io/leaflet-svgicon/svg-icon.js"></script>

    <link rel="shortcut icon" href="favicon.ico"/>
    <title><?php echo $this->name . " | " . INSTANCE_NAME; ?></title>
</head>

<body>
<div id="wrap">
    <?php require_once(PATH_ROOT . "/view/inc/header.phtml"); ?>

    <?php
    foreach ($this->body as $block) {
        switch ($block['type']) {
            case 'view' :
                if (file_exists(PATH_ROOT . "/view/" . $block['viewName'] . ".phtml")) {
                    $content = $block['content'];
                    require_once(PATH_ROOT . "/view/" . $block['viewName'] . ".phtml");
                } else {
                    require_once(PATH_ROOT . "/view/home.phtml");
                }
                break;
            case 'code' :
                echo $block['html'];
                break;
        }
    }
    ?>
    <?php
    if (isset($_SESSION['user'])) {
        if ($_SESSION['user']['right'] == 'error') {
            $userInfo = _("error");
        } else {
            $userInfo = $_SESSION['user']['name'];
        }
    } else {
        $userInfo = _("no user identified");
    }
    ?>
    <div id="footer" class="container">
        <?php
        echo "MapFactory - " . _("Version") . " " . VERSION;
        //echo " - " . $lang . " - " . $userInfo;
        ?>
    </div>

</div>
<!-- EOF #wrap -->
<!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title" id="myModalLabel"><?php echo _("About"); ?></h4>
            </div>
            <div class="modal-body">
                <?php echo $this->about; ?>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal"><?php echo _("Close"); ?></button>
                <button type="button" class="btn btn-primary hide"></button>
            </div>
        </div>
    </div>
</div>
<!-- Options -->
<div class="modal fade" id="myOptions" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title" id="myOptionsLabel"><?php echo _("Options"); ?></h4>
            </div>
            <div class="modal-body">
                <label>Cache</label>
                <form>
                    <div class="btn-group" role="group" aria-label="..." id="cache_option">
                        <button type="button" class="btn btn-default" id="on">Activé</button>
                        <button type="button" class="btn btn-default" id="off">Désactivé</button>
                    </div>
                </form>
                </br>
                <div class="well">
                    <p>Cache activé : navigation rapide donnée mis a jour toute les 24h.</p>
                    <p>Cache desactivé : navigation lente donnée mis a jour en temps réel.</p>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal"><?php echo _("Close"); ?></button>
                <button type="button" class="btn btn-primary hide"></button>
            </div>
        </div>
    </div>
</div>
<!--Connexion-->
<div class="modal fade" id="myConnexion" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title" id="myOptionsLabel">Connexion</h4>
            </div>
            <div class="modal-body">
                <div>
                    <label for="name">Nom:</label><span class="error"></span>
                </div>
                <div>
                    <input id="name" type="text"/>
                </div>
                <div>
                    <label for="password">Password:</label><span class="error"></span>
                </div>
                <div>
                    <input id="password" type="password"/>
                </div>
            </div>
            <div class="modal-footer">
                <button id="submitConnect">Se connecter</button>
            </div>
        </div>
    </div>
</div>
</body>
</html>
